extends ../../views/layout/layoutLogin.pug
block content
    html
        head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            meta(http-equiv='X-UA-Compatible' content='ie=edge')
            title CDIO 3
        body#bodyLogin
            .container 
                div#divFormLogin
                    label#loginHere(for="loginHere") Quên Mật Khẩu
                    if errors
                        each error in errors
                            .alert.alertError= error
                    form#formLogin(action="/user/login" method = "POST" )
                        .form-group
                            input#inputUserNameLogin(type="text" name="userName" placeholder="  Tên Đăng Nhập ...")
                        .form-group
                            input#inputPasswLogin(type="password" name="password" placeholder="  Mật Khẩu Mới ...")
                        .form-group
                            input#inputPasswLogin(type="password" name="password" placeholder="  Xác Nhận Mật Khẩu Mới ...")
                        .form-group
                            input#inputUserNameLogin(type="text" name="userName" placeholder="  Nhập Gmail ...")
                        .form-group#btnLogin
                            button#btnLogin.btn.btn-outline-light(type="submit") Gửi &nbsp
                        #registrationLogin
                            a(href = "/") Đăng Ký Tài Khoản