extends ../../views/layout/layoutLogin.pug
block content
    html
        head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            meta(http-equiv='X-UA-Compatible' content='ie=edge')
            title CDIO 3
        body#bodyLogin
            .container 
                div#divFormLogin
                    label#loginHere(for="loginHere") Đăng Nhập Tại Đây
                    if errors
                        each error in errors
                            .alert.alertError= error
                    form#formLogin(action="/user/login" method = "POST" )
                        .form-group
                            input#inputUserNameLogin(type="text" name="userName" placeholder="  Tên Đăng Nhập ...")
                        .form-group
                            input#inputPasswLogin(type="password" name="password" placeholder="  Mật Khẩu ...")
                        .form-group#inputCheckBoxLogin
                            input(type="checkbox" name="rememberPassword")
                            label(for="rememberPassword") &nbsp Lưu Mật Khẩu
                        .form-group#btnLogin
                            button#btnLogin.btn.btn-outline-light(type="submit") Đăng Nhập
                        #forgotPassword
                            a(href = "/user/forgot-password") Quên Mật Khẩu
                        #registrationLogin
                            a(href = "/") Đăng Ký Tài Khoản
                        #login-with-fb
                            a(href = "/auth/facebook") đăng nhập bằng fb