extends ../views/layout/layout.pug
block content
  html  
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      title #{title}
    body
      .container
          .mySlides
            img.imgSlide(src='/images/img-1.jpg', style='width:100%')
          .mySlides
            img.imgSlide(src='/images/img-2.jpg', style='width:100%')
          .mySlides
            img.imgSlide(src='/images/img-3.jpg', style='width:100%')
          .mySlides
            img.imgSlide(src='/images/img-4.jpg', style='width:100%')
          .product#show-product
            h2 Sản Phẩm Mới
            .row
                each product in products
                  .col-sm-6.col-md-4.col-lg-auto
                    .card.mb-3#card-product
                        a(href='/mystore/view/view-product/'+ product.id)
                          img(style="width:188px;height:188px" src= product.imageProduct).card-img-top
                        .card-body#card-body(style="width:188px")
                          a(href="/mystore/view-product/"+ product.id)
                            h5#cartTitleNameProduct.card-title= product.nameProduct
                          h5#amountProduct.card-title= "Còn: " + product.amountProduct +" Cái"
                          h5#cartTitlePriceProduct(style="color:red").card-title= product.priceProduct +"₫"
    script.
      var slideIndex = 0;
      showSlides();

      function showSlides() {
        var i;
        var slides = document.getElementsByClassName("imgSlide");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        slides[slideIndex-1].style.display = "block";
        setTimeout(showSlides, 5000); 
      }

      
    //- script.
    //-   window.fbAsyncInit = function() {
    //-     FB.init({
    //-       appId      : '628164661217196',
    //-       cookie     : true,
    //-       xfbml      : true,
    //-       version    : '{api-version}'
    //-     });
          
    //-     FB.AppEvents.logPageView();   
          
    //-   };

    //-   (function(d, s, id){
    //-     var js, fjs = d.getElementsByTagName(s)[0];
    //-     if (d.getElementById(id)) {return;}
    //-     js = d.createElement(s); js.id = id;
    //-     js.src = "https://connect.facebook.net/en_US/sdk.js";
    //-     fjs.parentNode.insertBefore(js, fjs);
    //-   }(document, 'script', 'facebook-jssdk'));