extends ../views/layout/layout.pug
block content
  html  
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      title CDIO 3
    body
      .container
          .body-page#body-page
            h2 Các Sản Phẩm Bạn Tìm Kiếm
            .product#show-product
              .row
                  each product in products
                    .col-sm-6.col-md-4.col-lg-auto
                      .card.mb-3#card-product
                          a(href='/mystore/view-product/'+ product.id)
                            img(style="width:188px;height:188px" src= "/" + product.imageProduct).card-img-top
                          .card-body#card-body(style="width:275")
                            a(href="/mystore/view-product/"+ product.id)
                              h5.card-title= product.nameProduct
                            h5(style="color:red").card-title= product.priceProduct +"₫"