extends ../../views/layout/layoutUser.pug
block content
    html  
        head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            meta(http-equiv='X-UA-Compatible' content='ie=edge')
            title CDIO 3
        body
            .container
                    h3(for="loginHere") Thêm Danh Mục 
                    div#divFormEditUser
                        form#formEditUser(action="/add-list" method = "POST" )
                            .form-group
                                input#inputEditUserName(type="text" name="listName" placeholder="  Tên Danh Mục ...")
                            .form-group#btnFormEditUser
                                button.btn.btn-success.my-2.my-sm-0(type="submit") Đồng Ý