html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css" ,href="/styles/style.css")
        script( language="javascript" src="/js/slideshow.js")
        script(src="https://kit.fontawesome.com/a076d05399.js")
    body

block content