html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css" ,href="/styles/style.css")
        script( language="javascript" src="/js/slideshow.js")
        script(src="https://kit.fontawesome.com/a076d05399.js")
    body
        .navbar
            .navbar#navbarTop
                a#mystore(href = "/mystore") Gian Hàng Của Bạn
                a#notification(href = "#") Thông Báo
                a#help(href = "#") Trợ Giúp
                a#registration(href = "/user/register") Đăng Ký
                a#logIn(href = "/user/login") Đăng Nhập
            
            .navbar#navbarBelow
                nav#navbarLogo
                    a(href="/")
                        img(src="/images/logoMrStyle.png" style="width:100%; height=100%;")
                nav#navbarSearch
                    form.form-inline(action = "/search/" method = "GET")
                        input#inputFormSearch.form-control.mr-sm-2(type='text' name = "q" placeholder='Search' aria-label='Search')
                        button.btn.btn-outline-light.my-2.my-sm-0(type='submit') Search
                nav#navbarCart 
                    a#cart(href="/cart" class="fas fa-shopping-cart")
block content